!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Produto</title>
    <!-- Adicione o link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Deletar Produto</h1>
        <!-- Formulário para alterar o deletar -->
        <h1>Confirma a exclusão do Produto</h1>
        <p>Voce ter certeza</p>
        <form method="post">
            {% csrf_token %}
            <!-- Campos do formulário para deletar o produto -->
            <!-- Incluir campos para nome, email, telefone, endereço, etc. -->
            <button type="submit" class="btn btn-primary">Deletar Alterações</button>
        </form>
    </div>

    <!-- Adicione o link para o Bootstrap JS e jQuery (opcional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
