<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }} - {{ produto.descricao }} - R$ {{ produto.preco }}</li>
                <a href="{% url 'deletar_produto' produto.id%}">deletar</a>
                <a href="{% url 'alterar_produto' produto.id%}">alterar</a>
                

        {% endfor %}
    </ul>
</body>
</html>
